flohmarkthelfer/data
flohmarkthelfer/jre
flohmarkthelfer/log
flohmarkthelfer/sync
flohmarkthelfer/config.properties
flohmarkthelfer/*.db
flohmarkthelfer/verkaeufer-abrechnung-overlay.pdf
/bugy-script-server
python-venv
