[Unit]
Description=Bugy Script Server
DefaultDependencies=no
After=network.target

[Service]
Type=simple

### sed -i "/ExecStart=/ s/=.*/=${KKM_PAYDESK_BASEDIR//\//\\/}\/python-venv\/bin\/python3 ${KKM_PAYDESK_BASEDIR//\//\\/}\/bugy-script-server\/launcher.py --config-dir ${KKM_PAYDESK_BASEDIR//\//\\/}\/bugy-script-server-static\/conf/" ~/.config/systemd/user/bugy-script-server.service

WorkingDirectory=
ExecStart=bash -c "../python-venv/bin/python3 ./launcher.py --config-dir ../bugy-script-server-static/conf"
TimeoutStartSec=0

[Install]
WantedBy=default.target
