[Unit]
Description=Bugy Script Server
DefaultDependencies=no
After=network.target

[Service]
Type=simple
WorkingDirectory=
ExecStart=
TimeoutStartSec=0

[Install]
WantedBy=default.target
