[Desktop Entry]
Type=Application
Version=1.0
Name=Flohmarkthelfer
Path=
Exec=bash -c "./scripts/launch-flohmarkthelfer.sh || sleep 10"
Terminal=false
